article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}

html{
    background-color: white;
}


#topDiv{
    position: relative;
    top:0;
    left:0;
    height: 500px;
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
}
img {
    max-width: 100%;
    height: auto;
}
#topBanner {
    position: absolute;
    top:0;
    border: 2px solid red;
    width:1200px;
    height: 470px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4CAF50;
}

li {
    float: right;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: white;
    color: #4CAF50;
}
.appointment {
    background-color: coral;
}
#topBanner {
    position: absolute;
    margin:0 auto;
    top:50px;
}
.sliderImage {
    width:1920px;
    height: 470px ;
}
input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #4CAF50;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('image/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:hover {
    width: 100%;
}
#aboutUs {
    position:relative;
    min-width: 768px;
    max-width: 1200px;
    top: 60px;
    margin: 0 auto;
    width: 100%;
    height: 470px;
    border: 2px solid palegreen;
}

#doctorA{
    position: absolute;
    height: 460px;
    width: 25%;
    border: 2px solid lightgrey;
}
#doctorB{
    position: absolute;
    height: 465px;
    left:50%;
    width: 25%;
    border: 2px solid lightgrey;
   }

.doctorImg {
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(223, 230, 234, 0.75);
}
.doctorImg:hover {
    box-shadow: 0 5px 10px rgba(86, 245, 157, 0.75);
}
.titleDoctor{
    margin-top: 15px;
    text-align: center;
    margin-bottom: 10px;
    color: #3981e2;
    line-height: 1;
    font-weight: bold;
    border-bottom: 1px solid #d7e6f9;
}
.doctorDescription {
    color: grey;
    text-align: center;
}


#doctorAinfo{
    border: 2px solid greenyellow;
    height: 465px;
    position: absolute;
    left:25%;
    width:25%;
    word-wrap:break-word;
    text-overflow: default;
}

#doctorBinfo{
border: 2px solid blue;
    height: 465px;
    position: absolute;
    left:75%;
    width:25%;
    word-wrap:break-word;
    text-overflow: default;
}
a {
  color: inherit;
  text-decoration: inherit;
}
.readMore {
    padding: 10px;
    background-color: #d7e6f9;
    border-radius: 5px;
    text-align: right;
}
#services {
    position: relative;
    top: 60px;
    border: 2px solid lightblue;
    width:100%;
    height: 600px;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 768px;
}
.service{
    position: absolute;
    width:25%;
    height: 300px;
    border:2px solid lightblue;
    float: left;
    }
#service1{
    left: 25%;
}

#service2{
    left: 50%;
}

#service3{
    left: 75%;
}

#service4{
    top: 50%;
    }

#service5{
    top:50%;
    left: 25%;
}
#service6 {
    top: 50%;
    left: 50%;
}

#service7{
    top: 50%;
    left: 75%;

}
.service{
    font-size: 60px;
    text-align: center;
    color: #4CAF50;
}
.service h4{
    font-size: 24px;
    color: blue;
}
.service p {
    font-size: 18px;
    color: midnightblue;
}
.service i:hover {
    animation: rotate 3.5s ease-in-out infinite;
color: red;
    cursor: pointer;
    }

@keyframes rotate {
    100% {transform: rotateY(360deg);}

}